<br>
<h1></h1>
<div class="text-center card container col-md-3">
    <div class="mt-5 mb-5">
        <img class="mb-4" src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72"
            height="57">
        <h1 class="h3 mb-3 fw-normal">Log In</h1>
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating mt-1">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        <div class="or-container">
            <div class="line-separator"></div>
            <div class="or-label">or</div>
            <div class="line-separator"></div>
        </div>
        <div class="row">
            <button class="btn btn-lg btn-google btn-block text-uppercase btn-outline" (click)="login()">
                <img src="https://img.icons8.com/color/22/000000/google-logo.png"> Sing in Google
            </button>
        </div>
    </div>
</div>
